openapi: 3.0.1
info:
  description: "An enterprise-grade Infrastructure is provided as a Service (IaaS)\
    \ solution that can be managed through a browser-based \"Data Center Designer\"\
    \ (DCD) tool or via an easy to use API. \n\nThe API allows you to perform a variety\
    \ of management tasks such as spinning up additional servers, adding volumes,\
    \ adjusting networking, and so forth. It is designed to allow users to leverage\
    \ the same power and flexibility found within the DCD visual tool. Both tools\
    \ are consistent with their concepts and lend well to making the experience smooth\
    \ and intuitive."
  title: CLOUD API
  version: "5.0"
servers:
- url: https://api.ionos.com/cloudapi/v5
tags:
- name: Server
- name: Contract
- name: Data Center
- name: Nic
- name: User Management
- name: Image
- name: IP Blocks
- name: Lan
- name: Load Balancer
- name: Location
- name: Private Cross Connect
- name: Request
- name: /
- name: Snapshot
- name: Volume
- name: Backup Unit
- name: Label
- name: Kubernetes
paths:
  /datacenters/{datacenterId}/servers/{serverId}/volumes:
    get:
      description: You can retrieve a list of volumes attached to the server
      operationId: datacentersServersVolumesGet
      parameters:
      - description: The unique ID of the Datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachedVolumes'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      summary: List Attached Volumes
      tags:
      - Server
    post:
      description: This will attach a pre-existing storage volume to the server. It
        is also possible to create and attach a volume in one step just by providing
        a new volume description as payload. Combine count of Nics and volumes attached
        to the server should not exceed size 24.
      operationId: datacentersServersVolumesPost
      parameters:
      - description: The unique ID of the Datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Volume'
        description: Volume to be attached (created and attached)
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      summary: Attach a volume
      tags:
      - Server
      x-codegen-request-body-name: volume
  /datacenters/{datacenterId}/servers/{serverId}/volumes/{volumeId}:
    delete:
      description: This will detach the volume from the server. This will not delete
        the volume from your datacenter. You will need to make a separate request
        to perform a deletion
      operationId: datacentersServersVolumesDelete
      parameters:
      - description: The unique ID of the Datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: The unique ID of the Volume
        in: path
        name: volumeId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Detach a volume
      tags:
      - Server
    get:
      description: This will retrieve the properties of an attached volume.
      operationId: datacentersServersVolumesFindById
      parameters:
      - description: The unique ID of the Datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: The unique ID of the Volume
        in: path
        name: volumeId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Retrieve an attached volume
      tags:
      - Server
  /datacenters/{datacenterId}/servers/{serverId}/cdroms/{cdromId}:
    delete:
      description: This will detach a CD-ROM from the server
      operationId: datacentersServersCdromsDelete
      parameters:
      - description: The unique ID of the Datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: The unique ID of the CD-ROM
        in: path
        name: cdromId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Detach a CD-ROM
      tags:
      - Server
    get:
      description: You can retrieve a specific CD-ROM attached to the server
      operationId: datacentersServersCdromsFindById
      parameters:
      - description: The unique ID of the Datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: The unique ID of the CD-ROM
        in: path
        name: cdromId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Retrieve an attached CD-ROM
      tags:
      - Server
  /datacenters/{datacenterId}/servers/{serverId}/cdroms:
    get:
      description: You can retrieve a list of CD-ROMs attached to the server.
      operationId: datacentersServersCdromsGet
      parameters:
      - description: The unique ID of the Datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cdroms'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: 'List attached CD-ROMs '
      tags:
      - Server
    post:
      description: 'You can attach a CD-ROM to an existing server. You can attach
        up to 2 CD-ROMs to one server. '
      operationId: datacentersServersCdromsPost
      parameters:
      - description: The unique ID of the Datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Image'
        description: CD-ROM to be attached
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Attach a CD-ROM
      tags:
      - Server
      x-codegen-request-body-name: cdrom
  /contracts:
    get:
      description: Retrieves the attributes of user's contract.
      operationId: contractsGet
      parameters:
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Retrieve a Contract
      tags:
      - Contract
  /datacenters:
    get:
      description: You can retrieve a complete list of data centers provisioned under
        your account
      operationId: datacentersGet
      parameters:
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datacenters'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: List Data Centers under your account
      tags:
      - Data Center
    post:
      description: Virtual data centers are the foundation of the platform. They act
        as logical containers for all other objects you will be creating, e.g. servers.
        You can provision as many data centers as you want. Datacenters have their
        own private network and are logically segmented from each other to create
        isolation. You can use this POST method to create a simple datacenter or to
        create a datacenter with multiple objects under it such as servers and storage
        volumes.
      operationId: datacentersPost
      parameters:
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Datacenter'
        description: Datacenter to be created
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datacenter'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Create a Data Center
      tags:
      - Data Center
      x-codegen-request-body-name: datacenter
  /datacenters/{datacenterId}:
    delete:
      description: Will remove all objects within the datacenter and remove the datacenter
        object itself, too. This is a highly destructive method which should be used
        with caution
      operationId: datacentersDelete
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Delete a Data Center
      tags:
      - Data Center
    get:
      description: You can retrieve a data center by using the resource's ID. This
        value can be found in the response body when a datacenter is created or when
        you GET a list of datacenters.
      operationId: datacentersFindById
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datacenter'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Retrieve a Data Center
      tags:
      - Data Center
    patch:
      description: You can use update datacenter to re-name the datacenter or update
        its description
      operationId: datacentersPatch
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatacenterProperties'
        description: Modified properties of Data Center
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datacenter'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Partially modify a Data Center
      tags:
      - Data Center
      x-codegen-request-body-name: datacenter
    put:
      description: You can use update datacenter to re-name the datacenter or update
        its description
      operationId: datacentersPut
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Datacenter'
        description: Modified Data Center
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datacenter'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Modify a Data Center
      tags:
      - Data Center
      x-codegen-request-body-name: datacenter
  /datacenters/{datacenterId}/servers/{serverId}/nics/{nicId}/firewallrules:
    get:
      description: Retrieves a list of firewall rules associated with a particular
        NIC
      operationId: datacentersServersNicsFirewallrulesGet
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: The unique ID of the NIC
        in: path
        name: nicId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRules'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: 'List Firewall Rules '
      tags:
      - Nic
    post:
      description: This will add a Firewall Rule to the NIC
      operationId: datacentersServersNicsFirewallrulesPost
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: The unique ID of the NIC
        in: path
        name: nicId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallRule'
        description: Firewall Rule to be created
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Create a Firewall Rule
      tags:
      - Nic
      x-codegen-request-body-name: firewallrule
  /datacenters/{datacenterId}/servers/{serverId}/nics/{nicId}/firewallrules/{firewallruleId}:
    delete:
      description: Removes the specific Firewall Rule
      operationId: datacentersServersNicsFirewallrulesDelete
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: The unique ID of the NIC
        in: path
        name: nicId
        required: true
        schema:
          type: string
      - description: The unique ID of the Firewall Rule
        in: path
        name: firewallruleId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Delete a Firewall Rule
      tags:
      - Nic
    get:
      description: Retrieves the attributes of a given Firewall Rule.
      operationId: datacentersServersNicsFirewallrulesFindById
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: The unique ID of the NIC
        in: path
        name: nicId
        required: true
        schema:
          type: string
      - description: The unique ID of the Firewall Rule
        in: path
        name: firewallruleId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Retrieve a Firewall Rule
      tags:
      - Nic
    patch:
      description: You can use update attributes of a resource
      operationId: datacentersServersNicsFirewallrulesPatch
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: The unique ID of the NIC
        in: path
        name: nicId
        required: true
        schema:
          type: string
      - description: The unique ID of the Firewall Rule
        in: path
        name: firewallruleId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallruleProperties'
        description: Modified Firewall Rule
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Partially modify a Firewall Rule
      tags:
      - Nic
      x-codegen-request-body-name: firewallrule
    put:
      description: You can use update attributes of a resource
      operationId: datacentersServersNicsFirewallrulesPut
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: The unique ID of the NIC
        in: path
        name: nicId
        required: true
        schema:
          type: string
      - description: The unique ID of the Firewall Rule
        in: path
        name: firewallruleId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallRule'
        description: Modified Firewall Rule
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Modify a Firewall Rule
      tags:
      - Nic
      x-codegen-request-body-name: firewallrule
  /um/groups:
    get:
      description: You can retrieve a complete list of all groups that you have access
        to
      operationId: umGroupsGet
      parameters:
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Groups'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: List All Groups.
      tags:
      - User Management
    post:
      description: You can use this POST method to create a group
      operationId: umGroupsPost
      parameters:
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
        description: Group to be created
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Create a Group
      tags:
      - User Management
      x-codegen-request-body-name: group
  /um/groups/{groupId}:
    delete:
      description: Delete a group
      operationId: umGroupsDelete
      parameters:
      - description: The unique ID of the group
        in: path
        name: groupId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Delete a Group
      tags:
      - User Management
    get:
      description: You can retrieve a group by using the group ID. This value can
        be found in the response body when a group is created or when you GET a list
        of groups.
      operationId: umGroupsFindById
      parameters:
      - description: The unique ID of the group
        in: path
        name: groupId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Retrieve a Group
      tags:
      - User Management
    put:
      description: You can use this method to update properties of the group.
      operationId: umGroupsPut
      parameters:
      - description: The unique ID of the group
        in: path
        name: groupId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
        description: Modified properties of the Group
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Modify a group
      tags:
      - User Management
      x-codegen-request-body-name: Group
  /um/groups/{groupId}/resources:
    get:
      operationId: umGroupsResourcesGet
      parameters:
      - description: The unique ID of the group
        in: path
        name: groupId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroups'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Retrieve resources assigned to a group
      tags:
      - User Management
  /um/groups/{groupId}/users:
    get:
      description: You can retrieve a list of users who are members of the group
      operationId: umGroupsUsersGet
      parameters:
      - in: path
        name: groupId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMembers'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: 'List Group Members '
      tags:
      - User Management
    post:
      description: 'This will attach a pre-existing user to a group. '
      operationId: umGroupsUsersPost
      parameters:
      - in: path
        name: groupId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        description: User to be added
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Add a user to a group
      tags:
      - User Management
      x-codegen-request-body-name: user
  /um/groups/{groupId}/users/{userId}:
    delete:
      description: This will remove a user from a group
      operationId: umGroupsUsersDelete
      parameters:
      - in: path
        name: groupId
        required: true
        schema:
          type: string
      - in: path
        name: userId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
[...]
