openapi: 3.0.1
info:
  description: "IONOS Enterprise-grade Infrastructure as a Service (IaaS) solutions\
    \ can be managed through the Cloud API, in addition or as an alternative to the\
    \ \"Data Center Designer\" (DCD) browser-based tool. \n\n Both methods employ\
    \ consistent concepts and features, deliver similar power and flexibility, and\
    \ can be used to perform a multitude of management tasks, including adding servers,\
    \ volumes, configuring networks, and so on."
  title: CLOUD API
  version: "6.0"
  x-sdk-patch-level: 5
servers:
- url: https://api.ionos.com/cloudapi/v6
tags:
- name: /
- name: Data centers
- name: Locations
- name: Servers
- name: Images
- name: Volumes
- name: Snapshots
- name: IP blocks
- name: LANs
- name: Network interfaces
- name: Firewall rules
- name: Flow Logs
- name: Load Balancers
- name: NAT Gateways
- name: Network Load Balancers
- name: Application Load Balancers
- name: Target groups
- name: Requests
- name: Contract resources
- name: User management
- name: User S3 keys
- name: Backup units
- name: Kubernetes
- name: Private Cross-Connects
- name: Labels
- name: Templates
paths:
  /:
    get:
      description: Display API information
      operationId: apiInfoGet
      parameters:
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Info'
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      summary: Display API information
      tags:
      - /
  /datacenters:
    get:
      description: List the data centers for your account. Default limit is the first
        100 items; use pagination query parameters for listing more items.
      operationId: datacentersGet
      parameters:
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      - description: The first element (from the complete list of the elements) to
          include in the response (used together with <b><i>limit</i></b> for pagination).
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
      - description: The maximum number of elements to return (use together with offset
          for pagination).
        in: query
        name: limit
        schema:
          default: 1000
          format: int32
          maximum: 10000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datacenters'
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: List your data centers
      tags:
      - Data centers
    post:
      description: |-
        Create new data centers, and data centers that already contain elements, such as servers and storage volumes.

        Virtual data centers are the foundation of the platform; they act as logical containers for all other objects you create, such as servers and storage volumes. You can provision as many data centers as needed. Data centers have their own private networks and are logically segmented from each other to create isolation.
      operationId: datacentersPost
      parameters:
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Datacenter'
        description: The data center to create.
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datacenter'
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status.
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Create data centers
      tags:
      - Data centers
      x-codegen-request-body-name: datacenter
  /datacenters/{datacenterId}:
    delete:
      description: Delete the specified data center and all the elements it contains.
        This method is destructive and should be used carefully.
      operationId: datacentersDelete
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content: {}
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status.
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Delete data centers
      tags:
      - Data centers
    get:
      description: Retrieve data centers by resource ID. This value is in the response
        body when the data center is created, and in the list of the data centers,
        returned by GET.
      operationId: datacentersFindById
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datacenter'
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Retrieve data centers
      tags:
      - Data centers
    patch:
      description: Update the properties of the specified data center, rename it,
        or change the description.
      operationId: datacentersPatch
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatacenterProperties'
        description: The properties of the data center to be updated.
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datacenter'
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status.
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Partially modify data centers
      tags:
      - Data centers
      x-codegen-request-body-name: datacenter
    put:
      description: Modify the properties of the specified data center, rename it,
        or change the description.
      operationId: datacentersPut
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Datacenter'
        description: The modified data center.
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datacenter'
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status.
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Modify data centers
      tags:
      - Data centers
      x-codegen-request-body-name: datacenter
  /locations:
    get:
      description: List the available locations for provisioning your virtual data
        centers.
      operationId: locationsGet
      parameters:
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Locations'
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: List locations
      tags:
      - Locations
  /locations/{regionId}:
    get:
      description: List locations by the region ID.
      operationId: locationsFindByRegionId
      parameters:
      - description: The unique ID of the region.
        in: path
        name: regionId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Locations'
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: List locations within regions
      tags:
      - Locations
  /locations/{regionId}/{locationId}:
    get:
      description: Retrieve the properties of the specified location
      operationId: locationsFindByRegionIdAndId
      parameters:
      - description: The unique ID of the region.
        in: path
        name: regionId
        required: true
        schema:
          type: string
      - description: The unique ID of the location.
        in: path
        name: locationId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Retrieve specified locations
      tags:
      - Locations
  /datacenters/{datacenterId}/servers:
    get:
      description: List all servers within the data center.
      operationId: datacentersServersGet
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Filter servers that can or that cannot be upgraded.
        in: query
        name: upgradeNeeded
        schema:
          type: boolean
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      - description: The first element (from the complete list of the elements) to
          include in the response (used together with <b><i>limit</i></b> for pagination).
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
      - description: The maximum number of elements to return (use together with offset
          for pagination).
        in: query
        name: limit
        schema:
          default: 1000
          format: int32
          maximum: 10000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Servers'
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: 'List servers '
      tags:
      - Servers
    post:
      description: Create a server within the specified data center. You can also
        use this request to configure the boot volumes and connect to existing LANs
        at the same time.
      operationId: datacentersServersPost
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Server'
        description: The server to create.
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status.
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Create servers
      tags:
      - Servers
      x-codegen-request-body-name: server
  /datacenters/{datacenterId}/servers/{serverId}:
    delete:
      description: Delete the specified server in your data center. The attached storage
        volumes will not be removed — a separate API call must be made for these actions.
      operationId: datacentersServersDelete
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the server.
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      - description: If true, all attached storage volumes will also be deleted.
        in: query
        name: deleteVolumes
        schema:
          type: boolean
      responses:
        "202":
          content: {}
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status.
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Delete servers
      tags:
      - Servers
    get:
      description: Retrieve information about the specified server within the data
        center, such as its configuration, provisioning status, and so on.
      operationId: datacentersServersFindById
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the server.
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Retrieve servers by ID
      tags:
      - Servers
    patch:
      description: Update the properties of the specified server within the data center.
      operationId: datacentersServersPatch
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the server.
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerProperties'
        description: The properties of the server to be updated.
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status.
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Partially modify servers
      tags:
      - Servers
      x-codegen-request-body-name: server
    put:
      description: |-
        Modify the properties of the specified server within the data center.

        Starting with v5, the 'allowReboot' attribute is retired; while previously required for changing certain server properties, this behavior is now implicit, and the backend will perform this automatically. For example, in earlier versions, when the CPU family is changed, 'allowReboot' had to be set to 'true'; this is no longer required, the reboot will be performed automatically.
      operationId: datacentersServersPut
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the server.
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Server'
        description: The modified server
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status.
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Modify servers
      tags:
      - Servers
      x-codegen-request-body-name: server
  /datacenters/{datacenterId}/servers/{serverId}/volumes:
    get:
      description: List all volumes, attached to the specified server.
      operationId: datacentersServersVolumesGet
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the server.
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      - description: The first element (from the complete list of the elements) to
          include in the response (used together with <b><i>limit</i></b> for pagination).
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
      - description: The maximum number of elements to return (use together with offset
          for pagination).
        in: query
        name: limit
        schema:
          default: 1000
          format: int32
          maximum: 10000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachedVolumes'
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: List attached volumes
      tags:
      - Servers
    post:
      description: |-
        Attach an existing storage volume to the specified server.

        A volume scan also be created and attached in one step by providing the new volume description as payload.

        The combined total of attached volumes and NICs cannot exceed 24 per server.
      operationId: datacentersServersVolumesPost
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the server.
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Volume'
        description: The volume to be attached (or created and attached).
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status.
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Attach volumes
      tags:
      - Servers
      x-codegen-request-body-name: volume
  /datacenters/{datacenterId}/servers/{serverId}/volumes/{volumeId}:
    delete:
      description: Detach the specified volume from the server without deleting it
        from the data center. A separate request must be made to perform the deletion.
      operationId: datacentersServersVolumesDelete
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the server.
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: The unique ID of the volume.
        in: path
        name: volumeId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content: {}
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status.
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Detach volumes
      tags:
      - Servers
    get:
      description: Retrieve the properties of the volume, attached to the specified
        server.
      operationId: datacentersServersVolumesFindById
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the server.
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: The unique ID of the volume.
        in: path
        name: volumeId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Retrieve attached volumes
      tags:
      - Servers
  /datacenters/{datacenterId}/servers/{serverId}/cdroms:
    get:
      description: List all CD-ROMs, attached to the specified server.
      operationId: datacentersServersCdromsGet
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the server.
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      - description: The first element (from the complete list of the elements) to
          include in the response (used together with <b><i>limit</i></b> for pagination).
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
      - description: The maximum number of elements to return (use together with offset
          for pagination).
        in: query
        name: limit
        schema:
          default: 1000
          format: int32
          maximum: 10000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cdroms'
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: 'List attached CD-ROMs '
      tags:
      - Servers
    post:
      description: 'Attach a CD-ROM to an existing server. Up to two CD-ROMs can be
        attached to the same server. '
      operationId: datacentersServersCdromsPost
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the server.
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Image'
        description: The CD-ROM to be attached.
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status.
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Attach CD-ROMs
      tags:
      - Servers
      x-codegen-request-body-name: cdrom
  /datacenters/{datacenterId}/servers/{serverId}/cdroms/{cdromId}:
    delete:
      description: Detach the specified CD-ROM from the server.
      operationId: datacentersServersCdromsDelete
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the server.
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: The unique ID of the CD-ROM.
        in: path
        name: cdromId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content: {}
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status.
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Detach CD-ROMs
      tags:
      - Servers
    get:
      description: Retrieve the properties of the CD-ROM, attached to the specified
        server.
      operationId: datacentersServersCdromsFindById
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the server.
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: The unique ID of the CD-ROM.
        in: path
        name: cdromId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Retrieve attached CD-ROMs
      tags:
      - Servers
  /datacenters/{datacenterId}/servers/{serverId}/reboot:
    post:
      description: Force a hard reboot of the specified server within the data center.
        Don't use this method if you wish to reboot gracefully. This is an equivalent
        of powering down a computer and turning it back on.
      operationId: datacentersServersRebootPost
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the server.
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content: {}
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status.
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Reboot servers
      tags:
      - Servers
  /datacenters/{datacenterId}/servers/{serverId}/start:
    post:
      description: Start the specified server within the data center; if the server's
        public IP address has been deallocated, a new IP address will be assigned.
      operationId: datacentersServersStartPost
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the server.
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content: {}
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status.
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Start servers
      tags:
      - Servers
  /datacenters/{datacenterId}/servers/{serverId}/stop:
    post:
      description: |-
        Stop the specified server within the data center: the VM will be forcefully shut down, the billing will cease, and any allocated public IPs will be deallocated.

        This operation is not supported for the Cubes.
      operationId: datacentersServersStopPost
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the server.
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content: {}
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status.
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Stop VMs
      tags:
      - Servers
  /datacenters/{datacenterId}/servers/{serverId}/suspend:
    post:
      description: |-
        Suspend the specified Cubes instance within the data center. The instance will not be deleted, and allocated resources will continue to be billed.

        This operation is only supported for the Cubes.
      operationId: datacentersServersSuspendPost
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the server.
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content: {}
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
              description: The number of requests that can still be made without triggering
                a failure response.
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: The average number of requests per minute allowed.
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: The maximum number of concurrent API requests allowed.
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status.
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient privileges), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), or 503
            (maintenance).'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Suspend Cubes instances
      tags:
      - Servers
  /datacenters/{datacenterId}/servers/{serverId}/resume:
    post:
      description: |-
        Resume a suspended Cube instance; no billing event will be generated.

        This operation is only supported for the Cubes.
      operationId: datacentersServersResumePost
      parameters:
      - description: The unique ID of the data center.
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the server.
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether the response is pretty-printed (with indentations
          and new lines).
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the detail depth of the response objects. \nGET /datacenters/[ID]\n\
          \t- depth=0: Only direct properties are included; children (servers and\
          \ other elements) are not included.\n\t- depth=1: Direct properties and\
          \ children references are included.\n\t- depth=2: Direct properties and\
          \ children properties are included.\n\t- depth=3: Direct properties and\
          \ children properties and children's children are included.\n\t- depth=...\
          \ and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users with multiple contracts must provide the contract number,
          for which all API requests are to be executed.
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content: {}
          description: Successful operation
          headers:
            X-RateLimit-Remaining:
[...]
