openapi: 3.0.1
info:
  description: "An enterprise-grade Infrastructure is provided as a Service (IaaS)\
    \ solution that can be managed through a browser-based \"Data Center Designer\"\
    \ (DCD) tool or via an easy to use API. \n\nThe API allows you to perform a variety\
    \ of management tasks such as spinning up additional servers, adding volumes,\
    \ adjusting networking, and so forth. It is designed to allow users to leverage\
    \ the same power and flexibility found within the DCD visual tool. Both tools\
    \ are consistent with their concepts and lend well to making the experience smooth\
    \ and intuitive."
  title: CLOUD API
  version: "6.0"
servers:
- url: https://api.ionos.com/cloudapi/v6
tags:
- name: /
- name: Data Centers
- name: Locations
- name: Servers
- name: Images
- name: Volumes
- name: Snapshots
- name: IP Blocks
- name: Lans
- name: Network Interfaces
- name: Firewall Rules
- name: Flow Logs
- name: Load Balancers
- name: NAT Gateways
- name: Network Load Balancers
- name: Requests
- name: Contract Resources
- name: User Management
- name: User S3 Keys
- name: Backup Units
- name: Kubernetes
- name: Private Cross Connects
- name: Labels
- name: Templates
paths:
  /:
    get:
      description: Display API information
      operationId: apiInfoGet
      parameters:
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Info'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      summary: Display API information
      tags:
      - /
  /datacenters:
    get:
      description: You can retrieve a complete list of data centers provisioned under
        your account
      operationId: datacentersGet
      parameters:
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      - description: the first element (of the total list of elements) to include
          in the response (use together with limit for pagination)
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
      - description: the maximum number of elements to return (use together with offset
          for pagination)
        in: query
        name: limit
        schema:
          default: 1000
          format: int32
          maximum: 10000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datacenters'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: List Data Centers under your account
      tags:
      - Data Centers
    post:
      description: Virtual data centers are the foundation of the platform. They act
        as logical containers for all other objects you will be creating, e.g. servers.
        You can provision as many data centers as you want. Datacenters have their
        own private network and are logically segmented from each other to create
        isolation. You can use this POST method to create a simple datacenter or to
        create a datacenter with multiple objects under it such as servers and storage
        volumes.
      operationId: datacentersPost
      parameters:
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Datacenter'
        description: Datacenter to be created
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datacenter'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Create a Data Center
      tags:
      - Data Centers
      x-codegen-request-body-name: datacenter
  /datacenters/{datacenterId}:
    delete:
      description: Will remove all objects within the datacenter and remove the datacenter
        object itself, too. This is a highly destructive method which should be used
        with caution
      operationId: datacentersDelete
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Delete a Data Center
      tags:
      - Data Centers
    get:
      description: You can retrieve a data center by using the resource's ID. This
        value can be found in the response body when a datacenter is created or when
        you GET a list of datacenters.
      operationId: datacentersFindById
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datacenter'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Retrieve a Data Center
      tags:
      - Data Centers
    patch:
      description: You can use update datacenter to re-name the datacenter or update
        its description
      operationId: datacentersPatch
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatacenterProperties'
        description: Modified properties of Data Center
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datacenter'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Partially modify a Data Center
      tags:
      - Data Centers
      x-codegen-request-body-name: datacenter
    put:
      description: You can use update datacenter to re-name the datacenter or update
        its description
      operationId: datacentersPut
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Datacenter'
        description: Modified Data Center
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Datacenter'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Modify a Data Center
      tags:
      - Data Centers
      x-codegen-request-body-name: datacenter
  /locations:
    get:
      description: Retrieve a list of Locations. This list represents where you can
        provision your virtual data centers
      operationId: locationsGet
      parameters:
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Locations'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: List Locations
      tags:
      - Locations
  /locations/{regionId}:
    get:
      description: Retrieve a list of Locations within a world's region
      operationId: locationsFindByRegionId
      parameters:
      - in: path
        name: regionId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Locations'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: List Locations within a region
      tags:
      - Locations
  /locations/{regionId}/{locationId}:
    get:
      description: Retrieves the attributes of a given location
      operationId: locationsFindByRegionIdAndId
      parameters:
      - in: path
        name: regionId
        required: true
        schema:
          type: string
      - in: path
        name: locationId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Retrieve a Location
      tags:
      - Locations
  /datacenters/{datacenterId}/servers:
    get:
      description: You can retrieve a list of servers within a datacenter
      operationId: datacentersServersGet
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: It can be used to filter which servers can be upgraded which
          can not be upgraded.
        in: query
        name: upgradeNeeded
        schema:
          type: boolean
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      - description: the first element (of the total list of elements) to include
          in the response (use together with limit for pagination)
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
      - description: the maximum number of elements to return (use together with offset
          for pagination)
        in: query
        name: limit
        schema:
          default: 1000
          format: int32
          maximum: 10000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Servers'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: 'List Servers '
      tags:
      - Servers
    post:
      description: Creates a server within an existing datacenter. You can configure
        the boot volume and connect the server to an existing LAN.
      operationId: datacentersServersPost
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Server'
        description: Server to be created
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Create a Server
      tags:
      - Servers
      x-codegen-request-body-name: server
  /datacenters/{datacenterId}/servers/{serverId}:
    delete:
      description: This will remove a server from your datacenter; however, it will
        not remove the storage volumes attached to the server. You will need to make
        a separate API call to perform that action
      operationId: datacentersServersDelete
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Delete a Server
      tags:
      - Servers
    get:
      description: Returns information about a server such as its configuration, provisioning
        status, etc.
      operationId: datacentersServersFindById
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Retrieve a Server
      tags:
      - Servers
    patch:
      description: You can use update attributes of a server
      operationId: datacentersServersPatch
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerProperties'
        description: Modified properties of Server
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Partially modify a Server
      tags:
      - Servers
      x-codegen-request-body-name: server
    put:
      description: Allows to modify the attributes of a Server. From v5 onwards 'allowReboot'
        attribute will no longer be available. For certain server property change
        it was earlier forced to be provided. Now this behaviour is implicit and backend
        will do this automatically e.g. in earlier versions, when CPU family changes,
        the 'allowReboot' property was required to be set to true which will no longer
        be the case and the server will be rebooted automatically
      operationId: datacentersServersPut
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Server'
        description: Modified Server
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Modify a Server
      tags:
      - Servers
      x-codegen-request-body-name: server
  /datacenters/{datacenterId}/servers/{serverId}/volumes:
    get:
      description: You can retrieve a list of volumes attached to the server
      operationId: datacentersServersVolumesGet
      parameters:
      - description: The unique ID of the Datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      - description: the first element (of the total list of elements) to include
          in the response (use together with limit for pagination)
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
      - description: the maximum number of elements to return (use together with offset
          for pagination)
        in: query
        name: limit
        schema:
          default: 1000
          format: int32
          maximum: 10000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachedVolumes'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      summary: List Attached Volumes
      tags:
      - Servers
    post:
      description: This will attach a pre-existing storage volume to the server. It
        is also possible to create and attach a volume in one step just by providing
        a new volume description as payload. Combine count of Nics and volumes attached
        to the server should not exceed size 24.
      operationId: datacentersServersVolumesPost
      parameters:
      - description: The unique ID of the Datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Volume'
        description: Volume to be attached (created and attached)
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      summary: Attach a volume
      tags:
      - Servers
      x-codegen-request-body-name: volume
  /datacenters/{datacenterId}/servers/{serverId}/volumes/{volumeId}:
    delete:
      description: This will detach the volume from the server. This will not delete
        the volume from your datacenter. You will need to make a separate request
        to perform a deletion
      operationId: datacentersServersVolumesDelete
      parameters:
      - description: The unique ID of the Datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: The unique ID of the Volume
        in: path
        name: volumeId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Detach a volume
      tags:
      - Servers
    get:
      description: This will retrieve the properties of an attached volume.
      operationId: datacentersServersVolumesFindById
      parameters:
      - description: The unique ID of the Datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: The unique ID of the Volume
        in: path
        name: volumeId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Retrieve an attached volume
      tags:
      - Servers
  /datacenters/{datacenterId}/servers/{serverId}/cdroms:
    get:
      description: You can retrieve a list of CD-ROMs attached to the server.
      operationId: datacentersServersCdromsGet
      parameters:
      - description: The unique ID of the Datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      - description: the first element (of the total list of elements) to include
          in the response (use together with limit for pagination)
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
      - description: the maximum number of elements to return (use together with offset
          for pagination)
        in: query
        name: limit
        schema:
          default: 1000
          format: int32
          maximum: 10000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cdroms'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: 'List attached CD-ROMs '
      tags:
      - Servers
    post:
      description: 'You can attach a CD-ROM to an existing server. You can attach
        up to 2 CD-ROMs to one server. '
      operationId: datacentersServersCdromsPost
      parameters:
      - description: The unique ID of the Datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Image'
        description: CD-ROM to be attached
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Attach a CD-ROM
      tags:
      - Servers
      x-codegen-request-body-name: cdrom
  /datacenters/{datacenterId}/servers/{serverId}/cdroms/{cdromId}:
    delete:
      description: This will detach a CD-ROM from the server
      operationId: datacentersServersCdromsDelete
      parameters:
      - description: The unique ID of the Datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: The unique ID of the CD-ROM
        in: path
        name: cdromId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Detach a CD-ROM
      tags:
      - Servers
    get:
      description: You can retrieve a specific CD-ROM attached to the server
      operationId: datacentersServersCdromsFindById
      parameters:
      - description: The unique ID of the Datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: The unique ID of the CD-ROM
        in: path
        name: cdromId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Retrieve an attached CD-ROM
      tags:
      - Servers
  /datacenters/{datacenterId}/servers/{serverId}/reboot:
    post:
      description: This will force a hard reboot of the server. Do not use this method
        if you want to gracefully reboot the machine. This is the equivalent of powering
        off the machine and turning it back on.
      operationId: datacentersServersRebootPost
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Reboot a Server
      tags:
      - Servers
  /datacenters/{datacenterId}/servers/{serverId}/start:
    post:
      description: This will start a server. If the server's public IP was deallocated
        then a new IP will be assigned
      operationId: datacentersServersStartPost
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Start a Server
      tags:
      - Servers
  /datacenters/{datacenterId}/servers/{serverId}/stop:
    post:
      description: This will stop a server. The machine will be forcefully powered
        off, billing will cease, and the public IP, if one is allocated, will be deallocated.
        The operation is not supported for Cube servers.
      operationId: datacentersServersStopPost
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Stop a Server
      tags:
      - Servers
  /datacenters/{datacenterId}/servers/{serverId}/suspend:
    post:
      description: 'This will suspend a server. The operation can only be applied
        to Cube servers. Note: The virtual machine will not be deleted, and the consumed
        resources will continue to be billed.'
      operationId: datacentersServersSuspendPost
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Suspend a Cube Server
      tags:
      - Servers
  /datacenters/{datacenterId}/servers/{serverId}/resume:
    post:
      description: This will resume a suspended server. The operation can only be
        applied to suspended Cube servers. No billing event will be generated.
      operationId: datacentersServersResumePost
      parameters:
      - description: The unique ID of the datacenter
        in: path
        name: datacenterId
        required: true
        schema:
          type: string
      - description: The unique ID of the Server
        in: path
        name: serverId
        required: true
        schema:
          type: string
      - description: Controls whether response is pretty-printed (with indentation
          and new lines)
        in: query
        name: pretty
        schema:
          default: true
          type: boolean
      - description: "Controls the details depth of response objects. \nEg. GET /datacenters/[ID]\n\
          \t- depth=0: only direct properties are included. Children (servers etc.)\
          \ are not included\n\t- depth=1: direct properties and children references\
          \ are included\n\t- depth=2: direct properties and children properties are\
          \ included\n\t- depth=3: direct properties and children properties and children's\
          \ children are included\n\t- depth=... and so on"
        in: query
        name: depth
        schema:
          default: 0
          format: int32
          maximum: 10
          minimum: 0
          type: integer
      - description: Users having more than 1 contract need to provide contract number,
          against which all API requests should be executed
        in: header
        name: X-Contract-Number
        schema:
          format: int32
          type: integer
      responses:
        "202":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
          headers:
            X-RateLimit-Remaining:
              description: 'Number of requests which can still be made without triggering
                a failure response. '
              schema:
                format: int32
                type: integer
            X-RateLimit-Limit:
              description: Average number of requests allowed per minute
              schema:
                format: int32
                type: integer
            X-RateLimit-Burst:
              description: Maximum number of concurrent API requests allowed
              schema:
                format: int32
                type: integer
            Location:
              description: Callback URL to poll async operation status
              schema:
                pattern: https://[apiBaseUri]/requests/[requestId]/status
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: 'Any erroneous status code: 400 (parse error), 401 (auth error),
            402 (trial access), 403 (insufficient permissions), 404 (not found), 405
            (unsupported HTTP method), 415 (unsupported content type, 422 (validation
            error), 429 (request rate limit exceeded), 500 (server error), 503 (maintenance)'
      security:
      - Basic Authentication: []
      - Token Authentication: []
      summary: Resume a Cube Server
      tags:
      - Servers
[...]
